/* To make the grid placed at the center of the page */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Because the project instructions said that the grid "should be generated
 in the same total space as before", it was a hint that the container needs
 to have a fixed width and height. 500px chosen arbitrarily. */
.container {
  width: 500px;
  height: 500px;
/* We need to arrange the divs into a grid, so flexbox is used here. Wrap is necessary because
we need the divs to wrap onto multiple lines. */
  display: flex;
  flex-wrap: wrap;
}

.grid {
  border: dotted black 1px; /* Add dotted border to make it look like a grid.*/
  box-sizing: border-box; /* Needed for correct size scaling when page is zoomed in 'n out.*/
  width: 6.25%; /* Take the reciprocal of the # of squares on the side x 100%. */
}